.ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-month, .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-date {
    background-color: #dfdddd;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-month, .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-date {
    background-color: #dfdddd;
    &:hover {
        background-color: #dfdddd !important;
    }
}
.ant-fullcalendar-disabled-cell:not(.ant-fullcalendar-today) .ant-fullcalendar-date, .ant-fullcalendar-disabled-cell:not(.ant-fullcalendar-today) .ant-fullcalendar-date:hover {
    background-color: #dfdddd;
    &:hover {
        background-color: #dfdddd !important;
    }
}
.ant-fullcalendar-date {
    border-right: 2px solid #e8e8e8 !important;
    border-left: 2px solid #e8e8e8 !important;
    border-bottom: 2px solid #e8e8e8 !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #dfdddd;
    &:hover {
        background-color: white !important;
    }
}
.ant-fullcalendar td {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}
.anticon {
    margin-bottom: 3px;
}
.ant-btn-group .ant-btn + .ant-btn, .ant-btn + .ant-btn-group, .ant-btn-group span + .ant-btn, .ant-btn-group .ant-btn + span, .ant-btn-group > span + span, .ant-btn-group + .ant-btn, .ant-btn-group + .ant-btn-group {
    margin-left: 10px;
}
.ant-carousel .slick-slide {
    text-align: center;
    background: #ffffff;
    overflow: hidden;
}

.ant-carousel .slick-dots-bottom {
    bottom: 25px;
}

.ant-carousel .slick-dots li.slick-active button {
    width: 8px;
    height: 8px;
    border-radius: 50% !important;
    margin-top: 0px;
}

.ant-carousel .slick-dots li button {
    width: 5px;
    height: 5px;
    border-radius: 50% !important;
    margin-top: 1.5px;
}
  
.ant-carousel .slick-slide h3 {
}

.roomdetail-container1 {
    width: 100%;
    height: 7%;
    border: 1px solid black;
}

.roomdetail-container2 {
    width: 100%;
    height: 30%;
    // border: 1px solid black;
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.roomdetail-container3 {
    width: 100%;
    height: 100%;
    background-image: url('http://imgnews.naver.net/image/5667/2019/07/08/0000004629_001_20190709125104196.png');
}

.roomdetail-container4 {
    width: 100%;
    height: 100%;
    position: relative;
}

.roomdetail-container5 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 12%;
    height: 8%;
    z-index: 1;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.roomdetail-span1 {
    color: white;
    font-size: small;
}

.roomdetail-container7 {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 70%;
    @media screen and (min-width: 769px) {
        width: 60%;
    }
}

.roomdetail-span2 {
    font-weight: bold;
    font-size: xx-large;
}

.roomdetail-container8 {
    width: 100%;
    height: 15%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.roomdetail-container9 {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    right: 0px;
}

.roomdetail-span3 {
    color: gray;
}

.roomdetail-container10 {
    width: 100%;
    height: 30%;
    padding-left: 7%;
    flex-direction: column;
}

.roomdetail-container11 {
    border: 1px solid black;
    width: 100%;
    height: 20%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.roomdetail-container12 {
    width: 100%;
    height: 30%;
    flex-direction: column;
}

.roomdetail-container13 {
    border: 1px solid black;
    width: 100%;
    height: 80%;
    @media screen and (min-width: 769px) {
        height: 130%;
    }
    .ant-fullcalendar-fullscreen{
        height: 100%;
    }
    .ant-fullcalendar-header {
        display: none;
    }
    .ant-fullcalendar-table {
        height: 320px;
    }
}

.calendar-container1 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.calendar-container2 {
    border: 1px solid black;
    width: 5%;
    height: 5%;
}